[data-split] > * {
  position: absolute; }

[data-split^="horizontal"] > * {
  width: 100%; }
  [data-split^="horizontal"] > *:first-child {
    top: 0; }
  [data-split^="horizontal"] > *:last-child {
    bottom: 0; }

[data-split^="vertical"] > * {
  height: 100%; }
  [data-split^="vertical"] > *:first-child {
    left: 0; }
  [data-split^="vertical"] > *:last-child {
    right: 0; }

.splittr-bar {
  background-color: red;
  position: absolute;
  z-index: 99; }
  .splittr-bar.splittr-bar-horizontal {
    left: 0;
    right: 0; }
  .splittr-bar.splittr-bar-vertical {
    top: 0;
    bottom: 0; }
